@{
    ViewData["Title"] = "About";
}
<h2 class ="red-font">@ViewData["Title"]</h2 class>
<h3>@ViewData["Message"]</h3>

<p>Using the Reading Corner website teachers can view, manage, and keep track of the reading logs of all their students in muliple classes from any location at any time. Students can enter their reading log information anywhere and anytime they have internet access.  No more worrying about losing their paper reading log, and the teacher can view up to 100 students without handling any paper.</p>


