@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This application allows students to enter their reading log information.  THe teacher can view all students in their classes.  Also the teacher can interact with students.</p>
