@{
    ViewData["Title"] = "Contact";
}
<h2 class ="red-font">@ViewData["Title"]</h2 class>
<h3>@ViewData["Message"]</h3>

<address>
    St. Andrews Dr.<br />
    Shiloh, IL 62269<br />
    <abbr title="Phone">P:</abbr>
    501.551.8839
</address>

<address>
    <strong>Support:</strong> <a href="mailto:angezabala123@gmail.com">angezabala123@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:angezabala123@gmail.com">angezabala123@gmail.com</a>
</address>
